BOOK_LFS_SYSD=y
INITSYS="systemd"
RUN_ME="./jhalfs run"
LFS_BRANCH=y
COMMIT="trunk"
LFS_MULTILIB_NO=y
BUILD_CHROOT=y
METHOD="chroot"
CUSTOM_TOOLS=y
TRACKING_DIR="/var/lib/jhalfs/BLFS"
LUSER="lfs"
LGROUP="lfs"
BUILDDIR="/mnt/lpm-lfs"
GETPKG=y
RUNMAKE=n
CLEAN=n
CONFIG_OPTIMIZE=n
OPTIMIZE=0
REPORT=y
SCRIPT_ROOT="jhalfs"
JHALFSDIR="$BUILDDIR/$SCRIPT_ROOT"
LOGDIRBASE="logs"
LOGDIR="$JHALFSDIR/$LOGDIRBASE"
MKFILE="$JHALFSDIR/Makefile"
